./pyvenv.cfg
./resources/database.json
./lib64/*
./lib/*
./include/*
./share/*
./bin/*
./.gitignore
./.idea/*
/bin/
/lib/
/share/
./.idea
/venv/
.idea/
comic.png
core/__init__.pyc
core/__pycache__/
core/constant.pyc
core/dao/__init__.pyc
core/dao/__pycache__/
core/dao/daoproduct.pyc
core/dbconnector.pyc
core/downloader/__pycache__/
core/model/__pycache__/
core/utils.pyc
lib64
pyvenv.cfg
resources/database.json
