certifi==2020.4.5.1
chardet==3.0.4
flake8==3.8.2
idna==2.9
mccabe==0.6.1
mysql-connector-python==8.0.20
protobuf==3.11.3
pycodestyle==2.6.0
pyflakes==2.2.0
pyparsing==2.4.7
requests==2.23.0
six==1.15.0
urllib3==1.25.9
